<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Board Game Recommender </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <header>
        <h1> WRONG GAME NAME </h1>
    </header>
    <body>
      <p>Your input was '{{wrong_game_name}}'</p>
      <p>Please go back to the main page and try again</p>
        <p>with one of the similar titles in my database:</p>
      <p>{{wrong_game_suggestions}}</p>
      <br>

    </body>

</html>
