<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Board Game Recommender </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <header>
        <h1> Games with Jake </h1>
    </header>
    <body>
        <br>
        <p> Please enter the names of 3 board games separated by forward slashes (/) : </p>
        <form action="greet" method="post">
          <input type="text" name="name_input">
          <br>
          <input type="submit" value="Get Recommendations!" id="greet">
          <p> {{game_1}} </p>
          <img src="{{ cover_art_1 }}">
          <p> {{game_2}} </p>
          <img src="{{ cover_art_2 }}">
          <p> {{game_3}} </p>
          <img src="{{ cover_art_3 }}">
          <p> {{game_4}} </p>
          <img src="{{ cover_art_4 }}">
          <p> {{game_5}} </p>
          <img src="{{ cover_art_5 }}">
          <p> {{game_6}} </p>
          <img src="{{ cover_art_6 }}">
          <p> {{game_7}} </p>
          <img src="{{ cover_art_7 }}">
          <p> {{game_8}} </p>
          <img src="{{ cover_art_8 }}">
          <p> {{game_9}} </p>
          <img src="{{ cover_art_9 }}">
          <p> {{game_10}} </p>
          <img src="{{ cover_art_10 }}">
          <br>

        </form>
    </body>
</html>
